.icon{
    width: 40px;
    height: 40px;
    background-image: url('../assets/MESSENGER.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.footer {
    background-color: #323940;
    overflow: hidden;
    color: hsla(0,0%,100%,.4);
    line-height: 19px;
    font-size: 13px;
    letter-spacing: .2px;
    position: absolute;
    bottom: 0px;
}