.emoji-picker{
    position: fixed;
    bottom: 70px;
    z-index: 10;
}

textarea {
    resize: none;
}

.roomchat-name{
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.hidden{
    display: none;
}