.emoji-picker{
    position: fixed;
    bottom: 70px;
    z-index: 10;
}

textarea {
    resize: none;
}

.roomchat-name{
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.hidden{
    display: none;
}

.main-room-list div div div:last-child{
    max-width: 185px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.MessageContent{
	min-height: 40px;
}

.friendMessage{
	border-radius: 20px;
	padding: 10px 15px;
	font-family: Helvetica;
	color: #000;
	background-color: #f1f0f0;
    max-width: 60%;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.OwnMessage{
	border-radius: 20px;
	padding: 10px 15px;
	font-family: Helvetica;
	color: #fff;
	background-color: rgb(0, 132, 255);
    max-width: 60%;
    word-wrap: break-word;
    margin-bottom: 10px;
}