.google-search-icon {
    background-image: url("../assets/search.png"); 
    background-repeat: no-repeat; 
    background-size: 100% auto;
    min-height: 28px;
    background-color: inherit;
    border: inherit;
}